.wufoo .paging-context {
  display: flex;
  align-items: flex-start;
  gap: var(--12, 12px);
  align-self: stretch;
}

.pgStyle1 .done var {
  background: #758821;
}

.pgStyle1 .selected var {
  background: #092E4C;
  color: #fff;
}

ul {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: start;
  height: 100%; 
}

.pgStyle1 circle3 tr {
  display: flex;
  flex-wrap: wrap;
  width: max-content; /* or 100% depending on your layout */
}

.pgStyle1 circle3 td {
  width: 50%; /* two columns per row */
  box-sizing: border-box;
  padding: 0.5rem; /* optional spacing */
}



