.wufoo .paging-context {
  display: flex;
  align-items: flex-start;
  gap: var(--12, 12px);
  align-self: stretch;
}

.pgStyle1 td.done var {
  position: relative;
  background: #758821;
  color: transparent;
}

.pgStyle1 td.selected var {
  background: #092E4C;
  color: #fff;
}

form ul {position: relative;padding-inline-start: 150px;min-height: 300px;}

.wufoo li.paging-context {
    position: absolute;
    left: 0px;
}

form li.buttons {
    /* left: -150px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.paging-context table {
  display: flex;
  flex-direction: column;
  align-items: center;
    max-width 200px
}
.paging-context tr {
  display: grid;
  /* column-count: 2; */
  display: grid;
  grid-template-columns: 40px 1fr;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-flow: row;
}


.paging-context table td {
    width: 100% !important;
    margin-bottom: 40px
}

.paging-context td:nth-child(2n + 1) {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 40px !important;
    justify-content: center;
    grid-auto-flow: column;
    position: relative
}

.paging-context td:nth-child(2n) {
}

.paging-context td:nth-child(2n+1):after {
    content: "";
    width: 5px;
    background: #C5C6CE;
    height: 30px;
    position: absolute;
    bottom: -30px;
    right: 10px;
    border-radius: 4px;
}

.paging-context td.done:nth-child(2n+1):after {
    background: #758821;    
}

.paging-context td.selected:nth-child(2n+1):after {
    background: #092E4C;    
}

.paging-context td.done var:after {
    position: absolute;
    left: 30%;
    content: "✔";
    color: #fff;
}



